<h1>Contents</h1>
<% if @contents.empty? %>
  <p><%= flash[:alert] || "No contents available for your age group." %></p>
<% else %>
  <ul>
    <% @contents.each do |content| %>
      <li>
        <%= link_to content.title, content_path(content) %>
        (Rating: <%= content.content_rating %>)
      </li>
    <% end %>
  </ul>
<% end %>
<%= link_to "Back", root_path %>
