<h1>Parental Consent Request</h1>
<p>Please provide consent for <%= @user.first_name %> (<%= @user.email %>) to access the platform.</p>
<p>
  <%= link_to "Approve", parental_consent_url(@consent.token, status: "approved") %>
  <%= link_to "Deny", parental_consent_url(@consent.token, status: "denied") %>
</p>